<div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#if skaters}}
          {{#each skaters}}
          <tr>
            <th scope="row">{{id}}</th>
            <td><div style="background-image: url(/uploads/{{foto}});"></div></td>
            <td>{{nombre}}</td>
            <td>{{anos_experiencia}}</td>
            <td>{{especialidad}}</td>
            {{#if estado}}
            <td class="text-success font-weight-bold">Aprobado</td>
            {{else}}
            <td class="text-warning font-weight-bold">Pendiente</td>
            {{/if}}
          </tr>
          {{/each}}
          {{else}}
          <tr>
            <th scope="row">No hay participantes registrados</th>
          </tr>
          {{/if}}
          
        </tbody>
      </table>
      <a href="/login">Iniciar Sesión</a> |
      <a href="/registro">Registrarme</a> |
      <a href="/admin">Administracion</a>
    </div>